<h3>Create a New Board</h3>

<form>
  <label for="new-board-title"> Title:
    <input id="new-board-title" type="text" name="board[title]" value="">
  </label>
  <br>
  <input class="btn btn-primary new-board-submit" type="submit"value="Create!">
</form>
