<h3><%= board.get('title') %></h3>


<ul class="board-lists clearfix">

</ul>

<div>


<div class="create-new-card"></div>




<button class="create-list-form">Add a List</button>


<button class="destroy-board">Delete Board</button>
