

<form>
  <h3>Create a New Card</h3>
  <label for="new-card-title"> Title:
    <br>
    <input id="new-card-title" type="text" name="title" value="">
  </label>
  <br>
  <label for="new-card-description"> Description:
    <br>
    <input id="new-card-description" type="text" name="description" value="">
  </label>
  <br>
  <input class="btn btn-primary new-board-submit" type="submit"value="Create!">
  <button class="btn btn-primary cancel-new-card">Cancel</button>
</form>
