<form class="create-new-list">
  <h2>New List</h2>
  <label for=""> Title:
    <input class="new-list-title" type="text" name="list[title]" value="">
  </label>
  <br>
  <input class="submit-new-list" type="submit" value="Create New List">
  <button class="cancel-new-list">Cancel</button>
</form>
<div>
<br>
