
<h3> <%= list.get('title') %></h3>


<ul class="card-list sortable">

</ul>


<button class="create-new-card" data-boardId="<%= list.get('board_id') %>" data-ListId="<%= list.id %>">Create Card</button>
<button class="delete-list">Delete List</button>
